<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>안녕하세요, {{name}}님!</p>
	<p> {{name}}님의 나이는 {{age}}세군요.</p>
	<p> {{name}}님의 이메일 주소는 {{{email}}}입니다.<p>
	
	<p>{{email}} VS {{{email}}}</p>
</body>
</html>